* {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 44px;
  background-color: rgb(183, 88, 0);
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

header > span {
  cursor: pointer;
}

input {
  margin-right: auto;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(255, 238, 0);
}

#content {
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  min-height: calc(100vh - 50px);
}

#sideBar {
  background-color: rgb(240, 240, 240);
  padding: 40px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  display: flex;
  align-items: center;
}

a > span {
  margin-right: 10px;
}

#main {
  background-color: rgb(218, 245, 177);
}
